<div class="container">
    <div class="row">
        <div class="col col-md-10">
            <h1>PiBeat</h1>
        </div>
        <div class="col col-md-2 text-right mt-2">
            <a href="#" target="_blank" class="mr-2"><img src="assets/img/GitHub-Mark-Light-32px.png" alt="View in GitHub" /></a>
            <a href="#" target="_blank" class=""><img src="assets/img/instructable-32px.png" alt="View the Instructable" /></a>
        </div>
    </div>
    <app-controller></app-controller>
    <app-sequence></app-sequence>
</div>
